/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  body{
    letter-spacing: 14px;
font-family: 'Lato', sans-serif;
margin: 0px;
margin-left: 25px;
margin-bottom: 10px;
}
a{
  color: black;
  text-decoration: none;
}
.Grass {
  background-color: #4ebc0f;
  color: #fff;
}
.GrassEater {
  background-color: yellow;
}
.Predator {
  background-color: #ad2929;
  color: #fff;
}
.Devil {
  background-color: black;
  color: #fff;
}
.Grass:hover,
.GrassEater:hover,
.Predator:hover,
.Devil:hover {
  background-color: #ccc;
  color: black;
}
div {
  margin: auto;
  min-width: 500px;
  text-align: center;
  height: 600px;
  overflow: auto;
  max-width: 1100px;
  margin-top: 8%;
}
div table {
  width: 100%;
  text-align: center;
}
div table th {
  padding: 17px;
  background-color: #ccc;
}
div table tr td {
  padding: 14px;
  transition: 0.3s;
}